<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>BiGi Stanza Admin</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/style.css" media="all">
</head>
<body class="bg-info">
 
  <div class="container bg-light mt-4" id="formAppart">
    <!-- <div class="row"> -->
        <form action="/api-add-update-appart" method="POST"  id="mainform">
        <!-- chiamare AJAX per fare inserimento nel db, dopo abilitare 
        il bottone immagini -->
        
            <div class="form-row ">
                <div class="form-group col-md-1">
                    <label for="internalName">Id</label>
                    <input type="text" class="form-control" name="internalName" id="internalName"
                    <% if (typeof appart !== 'undefined') { %> 
                        <!-- manca fetch valori in caso di mode = update -->
                        value="ATPPP";
                    <% } %>
                    >
                </div>
                <div class="form-group col-md-8">
                        <label for="address">Indirizzo</label>
                        <input type="text" class="form-control" name="address" id="address">
                </div>
                <div class="form-group col-md-1">
                        <label for="cap">CAP</label>
                        <input type="text" class="form-control" name="cap" id="cap">
                </div>         
                <div class="form-group col-md-2 mt-auto">
                        
                    <a href="#" class="btn   btn-secondary d-block d-flex" id="addImg1"><i class="fa fa-images"></i>
                    + IMMAGINI</a>
                </div> 
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                        <label for="floor">Piano</label>
                        <input type="number" class="form-control" name="floor" id="floor">
                </div>
                <div class="form-group col-md-3">
                        <label for="floor">Stanze</label>
                        <input type="number" class="form-control" name="numRooms" id="numRooms" readonly value="1">
                </div>  
                <div class="form-group col-md-3">
                        <label for="numRooms">Bagni</label>
                        <input type="number" class="form-control" name="numBathrooms" id="numBathrooms" >
                </div> 
                <div class="form-group col-md-3">
                        <label for="appartsize">Dimensioni(mq)</label>
                        <input type="number" class="form-control" name="appartsize" id="appartsize">
                </div>  
            </div>
            <div class="form-row ">
                <div class="form-group col-md-3">
                        <label for="services">Servizi</label>
                        <select multiple class="form-control" name="services" size="6" id="services" >
                            <!-- <option value=""></option> -->
                            <option >tv</option>
                            <option >wi-fi</option>
                            <option >lavatrice</option>
                            <option >lavastoviglie</option>
                            <option >parcheggio</option>
                            <option >clima</option>
                            <option >mobiliata</option>
                        </select> 
                </div>
                <div class="form-group col-md-9">
                    <label for="description">Descrizione</label>
                    <textarea name="description" id="description" name="description" class="form-control" rows="4" ></textarea> <!--h-100-->
                </div>
            </div>
            <fieldset class="form-group stanze">
                <div class="form-row border align-items-center">
                    <legend class="col-form-label">STANZA 1
                        <a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza1Add"><i class="fa fa-plus"></i></a>
                        <a href="#" class="btn btn-sm btn-secondary removebtn" id="btnStanza1Remove"><i class="fa fa-minus"></i></a>
                    </legend>
                    <div class="form-group col-md-3">
                        <label for="roomsize">Dimensioni(mq)</label>
                        <input type="number" class="form-control" name="roomsize1" id="roomsize">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="price">Prezzo</label>
                        <input type="number" class="form-control" name="price1" id="price">
                    </div>
            
                    <div class="form-check col-md-3  text-center">                   
                        <label for="window" class="form-check-label "></label>
                        <input type="radio" class="form-check-input " id="window" value="finestra" checked name="accesso1">
                        Finestra</label>
                    </div>
                    <div class="form-check col-md-3  text-center ">
                        <label for="balcon" class="form-check-label "></label>
                        <input type="radio" class="form-check-input" id="balcon" value="balcone" name="accesso1">
                        Balcone</label>
                    </div>

                </div>
            </fieldset>
        
                
            <button id="btninvia" class="btn btn-primary mb-2" type="submit">INVIA</button>
                
            
        </form>
   
</div> <!-- container formAppart-->

<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
      //  $('#mainform').trigger("reset");
        $('#numRooms').val("1");
        $(document).on('click','.addbtn',function () {
            var temp = '<a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza"><i class="fa fa-plus" ></i></a><a href="#" class="btn btn-sm btn-secondary removebtn  pull-right" id="btnStanza1Add"><i class="fa fa-minus pull-right " ></i></a>'
            var nstanze = parseInt($('#numRooms').val());
            if (nstanze==6){
                alert("RAGGIUNTO NUMERO MASSIMO DI STANZE!")
                return false;
            }
            // prepare new line for room    
            var newRoomLine = `<fieldset class="form-group stanze" >
                                <div class="form-row border align-items-center">
                                    <legend class="col-form-label">STANZA ${nstanze+1}
                                    <a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza${nstanze+1}Add"><i class="fa fa-plus" ></i></a>
                                    <a href="#" class="btn btn-sm btn-secondary removebtn" id="btnStanza${nstanze+1}Remove"><i class="fa fa-minus" ></i></a></legend>
                                
                                    <div class="form-group col-md-3">
                                        <label for="roomsize">Dimensioni(mq)</label>
                                        <input type="number" class="form-control" name="roomsize${nstanze+1}" id="roomsize${nstanze+1}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="price">Prezzo</label>
                                        <input type="number" class="form-control" name="price${nstanze+1}" id="price${nstanze+1}">
                                    </div>
                                    <div class="form-check col-md-3  offset-md-1  ">
                                            <label for="window" class="form-check-label mx-3"></label>
                                            <input type="radio" class="form-check-input " id="window" value="finestra" checked name="accesso${nstanze+1}">
                                            Finestra</label>
                                            <label for="balcon" class="form-check-label mx-3"></label>
                                            <input type="radio" class="form-check-input" id="balcon" value="balcone" name="accesso${nstanze+1}">
                                            Balcone</label>
                                    </div>
                                    <div class="form-group col-md-2  mt-auto "> <!--d-flex-->
                                        <label for=""></label>
                                            <a href="#${nstanze+1}" class="btn  btn-secondary btn-block immaginiroom" id="addImg1"><i class="fa fa-image"></i>
                                                + IMMAGINI</a>
                                    </div>
                                </div> 
                            </filedset>`;
            
            // remove button from  current last subform stanze
            $('#btnStanza'+(nstanze)+'Add').remove();
            $('#btnStanza'+(nstanze)+'Remove').remove();

            // add subform stanze and update stanze value                
            $("#mainform").append(newRoomLine);
            $('#numRooms').val(++nstanze);
        
            // move button submit at the end
            $('#btninvia').remove();
            var invia = `<button id="btninvia" class="btn btn-primary mb-2" type="submit">INVIA</button> `;
            $('#mainform').append(invia)          
        });

        $(document).on('click','.removebtn',function () {
            var nstanze = parseInt($('#numRooms').val())-1;
            if (nstanze==0){
                alert("NECESSARIA ALMENO UNA STANZA!")
                return false;
            }
            // prepare html tag for buttons + and -
            var btns = ` <a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza${nstanze}Add"><i class="fa fa-plus" ></i></a>
                         <a href="#" class="btn btn-sm btn-secondary removebtn" id="btnStanza${nstanze}Remove"><i class="fa fa-minus" ></i></a>`
            
            // remove button submit and last row
            $('#btninvia').remove();
           
            // remove last form stanze (elem:filedset)            
            $('.form-group.stanze:last').remove();


            // add button + and - to last remaing subform stanze
            $('.form-row .col-form-label:last').append(btns);
            $('#numRooms').val(nstanze);
            
            // add button submit at the end
            var invia = ` <button id="btninvia" class="btn btn-primary mb-2" type="submit">INVIA</button>`;
            $("#mainform").append(invia);
     
        });
        $(document).on('click','.immaginiroom',function () {

            var id = $(".immaginiroom").attr('id');
            alert('#labelImmagini'+id);
          //  $('#labelImmagini1').append(`<option value="prova.jpg">riprova.jpg</option>`);

        });
         $('#1').on('change',function(){
       
                //get the file name
                var idRoom = $(this).attr('id');
                var fileName = $(this).val();
            
                console.log(fileName);
                fileName = fileName.substring(fileName.lastIndexOf("\\") + 1, fileName.length);
                console.log('file info');

                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
                //select the last element inserted
                
                $('#labelImmagini'+idRoom).each(function(){
                    $('#labelImmagini'+idRoom).attr('selected','false');
                });
                $('#labelImmagini'+idRoom).prepend(`<option selected="selected" value="${fileName}">${fileName}</option>`);
                // chiamata ajax per upload immagine
          
            })

    });
    $('form#mainform').submit(function(event){
        event.preventDefault();
        var data = $(this).serialize();
        console.log("dentro evento di chiamata ajax");
        console.log(data);
        var goToInsertImg = confirm("Vuoi continuare con inserimento immagini?");
        if (goToInsertImg==true) {  window.open('/admin/imgappart/5ca8879fbdcd4176e24b3e22',"_self")};
        // $.ajax({
        //     dataType: 'JSON',
        //     data: data,
        //     type: 'POST',
        //     url: '/api-add-update-appart',
        //     success: function(dataj,status){
        //         alert("DATI MEMORIZZATI");
        //     },
        //     error : function(){
        //         alert("Si è verificato un errore durante l'invio");
        //     }
        // }); // ajax

    });
</script> 
</body>
</html>