 <!-- navigation bar -->   
 <nav class="navbar navbar-expand-md navbar-dark bg-secondary sticky-top" id="navbar">
    <div class="container-fluid">
        <div class="col-sx-6">
            <a href="#" class="navbar-brand"><img id="logo" src="../../img/newBrand.jpg" onerror="alternativeAddress()"></a>
        </div> <!-- first col-sx-6 -->

        <div class="col-sx-6">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                 <ul class="nav navbar-nav nav-pills ml-auto">
                    <li class="nav-item pill-1"><a class="nav-link active" href="/Admin/appartlist">DashBoard</a></li>
                    <li class="nav-item pill-1"><a class="nav-link" href="/admin/contracts">Contratti</a></li>
                    <li class="nav-item pill-1"><a class="nav-link" href="">Statistiche</a></li>
                </ul>
            </div>
        </div> <!-- second col-sx-6 -->
    </div> <!-- container-fluid navbar-->
</nav>
<!-- <script>
    function altenativeAddress(){
        document.getElementById('logo')='../../img/newBrand.jpg'
    }
</script> -->