<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>BiGi Stanza Admin</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" >
    <link rel="stylesheet" href="../../css/spur.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="../../js/chart-js-config.js"></script>



</head>
<body class="dash-app" >
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="/admin/dashboard" class="spur-logo"><i class="fas fa-bolt"></i> <span>BiGi Stanza</span></a>
            </header>
            <nav class="dash-nav-list">
                <a href="/admin/dashboard" class="dash-nav-item">
                    <i class="fas fa-home"></i> Dashboard </a>
                
                <a href="/admin/appartlist" class="dash-nav-item">
                    <i class="fas fa-building"></i>Appartamenti</a>
                
                
                <a href="/admin/contracts" class="dash-nav-item">
                    <i class="fas fa-file-signature"></i>Contratti </a>


                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-info"></i> About </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="https://github.com/HackerThemes/spur-template" target="_blank" class="dash-nav-dropdown-item">GitHub</a>
                        <a href="http://hackerthemes.com" target="_blank" class="dash-nav-dropdown-item">HackerThemes</a>
                    </div>
                </div>
            </nav>
        </div>

    <header class="dash-toolbar">
        <a href="#!" class="menu-toggle">
            <i class="fas fa-bars"></i>
        </a>
        <div class="tools align-item-center">
            <p  class="text-center text-black  "><h3> GESTIONE APPARTAMENTI </h3></p>
        </div>
        <div class="tools align-text">
            <h4>Benvenuto <%=user%></h4>
            <div class="dropdown tools-item">
                <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>  
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="#!">Profile</a>
                    <a class="dropdown-item" href="/admin/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>


    <div class="modal fade  text-danger " tabindex="-1" role="dialog" id="modalCancel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog bg-danger" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Conferma Cancellazione</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="msgConferma" >
                  Conferma Cancellazione         
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnAnnulla">Annulla</button>
                    <button type="button" class="btn btn-primary btn-danger" data-room="" id="btnDelete">Cancella</button>
                    
                </div>
            </div>
        </div>
      </div>  <!-- modal -->

 <main class="dash-content">
  <div class=" container-fluid  bg-light  pt-2 mt-4 " id="tableAppart">
    <div class="row ">
      <div class="col-md-10 offset-md-1 ">
        <h4 class="mt-1"><a href="/admin/add-update-appart" class="btn btn-primary"><i class="fa fa-plus"></i>
             AGGIUNGI APPARTAMENTO</a><span class="text-center pl-3"></span></h4> <!--LISTA APPARTAMENTI -->
        <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">id</th>
                      <th scope="col">Address</th>
                      <th scope="col">Città</th>
                      <th scope="col">CAP</th>
                      <th scope="col" class="text-center">Stanze</th>
                      <th scope="col" class="text-center">Bagni</th>
                      <th scope="col" class="text-center">Modifica</th>
                      <th scope="col" class="text-center">Elimina</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (appartIndex in appartList){ %>
                  <tr>
                      <td><%= appartList[appartIndex].internalName %></td>
                      <td><%= appartList[appartIndex].address %></td>
                      <td><%= appartList[appartIndex].city %></td>
                      <td><%= appartList[appartIndex].cap %></td>
                      <td  class="text-center"><%= appartList[appartIndex].numRooms %></td>
                      <td class="text-center"><%= appartList[appartIndex].numBathRooms %></td>
                      <td class="d-none" hidden="true"><%= appartList[appartIndex]._id %></td>
                      <td class="text-center"><a class="fa fa-pen fa-lg text-secondary text-center"  data-toggle="tooltip" title="Modifica"
                        href="/admin/add-update-appart/<%=appartList[appartIndex]._id%>"></a></td>
                      <td class="text-center"><span class="text-center"><a class="fa fa-trash fa-lg cancel text-secondary text-center" 
                          data-internalId="<%= appartList[appartIndex].internalName %>" 
                          data-id="<%=appartList[appartIndex]._id%>" href="" data-toggle="tooltip" title="Cancella"  ></a></span></td>
                  </tr>
                  <% } %>

              </tbody>
        </table> 
      </div>
    </div> <!--row-->


</div> <!-- container tableAppart-->
</main>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/spur.js"></script>
<script>
        $(document).ready(function () {

          $(document).on('click', '.cancel', function (e) {
            e.preventDefault();
            let internalId = $(this).attr('data-internalId')
            $('#msgConferma').html('sicuro di cancellare appartamento : ' + internalId);
            
            // pass mongo id to button attribute
            $('#btnDelete').attr('data-id',  $(this).attr('data-id'))
           
            $('#modalCancel').modal('show');
          });

          $(document).on('click', '#btnDelete', function (e) {
            e.preventDefault();
            let appId = $(this).attr('data-id')
            $('#modalCancel').modal('hide')
            callAjax(appId);
          });

          function callAjax(id) {
            let url = "/api/deleteAppart/" + id;
            
            $.ajax({
              type: 'DELETE',
              url: url,
              success: function (result, status) {
                setTimeout( ()=> { alert('APPARTAMENTO ELIMINATO');
                                   location.reload(true); },
                                   1500);
              },
              error: function () {
                alert('Si è verificato un errore durante la cancellazione')
              }
            });
          } // callAjax

        }); // $(document).ready
</script>

</body>
</html>