    <!-- Footer -->
    <footer class="footer text-center text-light bg-secondary small">
        <div class="container-fluid ">
            <div class="row">
    
                <div class="icon col-12 mb-3">
                    <a href="https://www.facebook.com" target="_blank"><img src="https://img.icons8.com/officel/40/000000/facebook.png"></a>
                    <a href="https://www.google.com" target="_blank"><img src="https://img.icons8.com/officel/40/000000/google-plus.png"></a>
                    <a href="https://twitter.com" target="_blank"><img src="https://img.icons8.com/color/48/000000/twitter-squared.png"></a>
                    <a href="https://icons8.com">icon8</a> 
                </div>
    
            </div>
            <div class="row">
                <div class="icon col-12 mb-3">
    
                    <p> BiGi Stanza s.r.l. unipersonale. via Torquato Tasso, 50 - 24121 Bergamo.Tel +39 3889883460 / bigistanza@gmail.com
                         
                     <br>  Capitale sociale euro 10.000,00 i.v. - Impresa iscritta al Registro Imprese di Bergamo n. REA 452279 – Codice fiscale e P.IVA 04301720167</p>
                       <!-- <a href="https://icons8.com">icon8</a> -->
                </div>
            </div>
        </div>
  </footer>
  <!-- Footer -->