<!DOCTYPE html>
<html lang="it">
  <head>
    <title>BiGi Stanza Home Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css">

    <link rel="stylesheet" href="css/jquery-ui.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/customStyle.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="top-bar py-2 bg-light" id="home-section">
      <div class="container">
        <div class="row "> <!-- align-items-center -->
         
          <div class="col-6 text-left   align-items-center  ">
            <ul class="social-media">
              <li><a href="#" class=""><span class="icon-facebook"></span></a></li>
              <li><a href="#" class=""><span class="icon-twitter"></span></a></li>
              <li><a href="#" class=""><span class="icon-instagram"></span></a></li>
              <li><a href="#" class=""><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-6">
            <p class="mb-0 float-right align-items-right">  
              <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black"> +39 3889883460</span></a></span>
              <span><a href="#"><span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black"> info@bigistanza.com </span></a></span>
              <span><a href="/admin/login\"><span class="d-none d-lg-inline-block ml-5   text-muted"> area riservata </span></a></span>
            </p>
            
          </div>
        </div>
      </div> 
    </div>

    <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" data-offset="-20" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h2 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">BiGiSTANZA <span class="text-primary"></span> </a></h2>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#services-section" class="nav-link">Cosa Offriamo</a></li>
                <li><a href="#products-section" class="nav-link">Appartamenti</a></li>
                <li><a href="#contact-section" class="nav-link">Contatti</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>
        </div>
      </div>
      
    </header>
  
     
    <div class="site-blocks-cover overlay" style="background-image: url(img/background1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row mb-4">
              <div class="col-md-7">
                <h1>ENJOY your STAY</h1>
                <p class="mb-5 lead">BiGi STANZA offre agli studenti ed ai giovani lavoratori l'opportunità di vivere in stanze nuove ed accessoriate con formula tutto incluso e senza pensieri.</p>
                <div>
                 <!--   <a href="#" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">GUARDA GLI APPARTAMENTI</a>  -->
                  <a href="#products-section" class="btn btn-white py-3 px-5 rounded-0 d-block d-sm-inline-block">GUARDA GLI APPARTAMENTI</a>
                </div> 
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>  

<!-- ########  section services ######  -->

<div class="site-section bg-light mt-5" id="services-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">I Nostri Servizi</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-av_timer"></span></div>   <!--pie_chart -->
          <div>
            <h3>Servizio Semplice e immediato</h3>
            <p>Stanza chiavi in mano senza preoccuparsi di contratti luce gas internet, pratiche veloci</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-star"></span></div>
          <div>
            <h3>Appartamenti Nuovi</h3>
            <p>Appartamenti nuovi, forniti di tutti gli accessori, cucina completa, tv, wi-fi, lavatrice, lavastoviglie</p>
             
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-high_quality"></span></div>
          <div>
            <h3>Alta qualità del servizio</h3>
            <p>L'azienza è costituita da personale giovane, flessibile e pronto ad soddisfare le tue esigenze</p>
            
          </div>
        </div>
      </div>
    </div> 
  </div> <!-- container section service -->
</div> <!-- section service -->
 
 
<!-- ########  section products ######  -->

<div class="site-section" id="products-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center">

        <h2 class="section-title mb-1">I Nostri Appartamenti</h2>
      </div>
    </div>

    <% for (indexAppart in appartList) {  %>
    <div class="container bg-light my-md-4 pt-2 py-1">

      <!-- start list of appartaments -->
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 d-flex col-lg-offset-1 ">
          <h4 class="text-primary">Appartamento <%=appartList[indexAppart].numRooms%> Stanze
            <%=appartList[indexAppart].address%>, <%=appartList[indexAppart].city.trim()%> </h4>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-7 d-flex 100-vh">
          <div id="carouselIndicator<%=indexAppart%>" class="carousel slide border  shadow flex-fill">
            <ol class="carousel-indicators">

              <% for (indexImgAppart in appartList[indexAppart].imgAppart) { %>
                <li data-target="#carouselIndicator<%=indexAppart%>" data-slide-to="<%=indexImgAppart%>"></li>
              <% } %>
            </ol>
            <div class="carousel-inner" role="listbox">
              <% for (indexImgAppart in appartList[indexAppart].imgAppart){ %>
                
                <div class="carousel-item <%= (indexImgAppart==0) ? "active" : "" %>">
                  <div class="img">
                    <img class="d-block img-fluid" src="../img/<%= appartList[indexAppart].imgAppart[indexImgAppart] %>">
                  </div>
                </div>

               <% } %>  <!-- for img appart -->
              
            </div> <!-- carousel-inner -->
            <a class="carousel-control-prev" href="#carouselIndicator<%=indexAppart%>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicator<%=indexAppart%>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> <!-- carousel -->
        </div>  <!--col-lg-7-->
       

        <!-- #### MAP and SERVICES ### -->

        <div class="col-lg-5 d-flex ">
          <div class="card  border shadow flex-fill">
            <div class="card-body">
              <div class="row  ">
                <div id="map-container<%=indexAppart%>"
                  data-address="<%=appartList[indexAppart].address%> <%=appartList[indexAppart].cap%> Bergamo"
                  class="z-depth-1 map-container embed-responsive embed-responsive-16by9">
                </div>
              </div>

              <div class="row mt-1">
                <p class="card-text">
                  <div class="col-6">
                    
                    <% for (var i=0; i < appartList[indexAppart].services.length ; i+=2){ %>
                    <% var icon = appartList[indexAppart].services[i]  %>
                      <p> <img class="icon" src="../img/icon/<%=appartList[indexAppart].services[i]%>.png"><span
                          class="text-center px-2"><%=icon%></span></p>
                    <% } %>
                  </div>
                  <div class="col-6">

                    <% for (var i=1; i < appartList[indexAppart].services.length ; i+=2){ %>
                    <% var icon = appartList[indexAppart].services[i]  %>
                    <p> <img class="icon" src="../img/icon/<%=appartList[indexAppart].services[i]%>.png"><span
                        class="text-center px-2"><%=icon%></span></p>
                    <% } %>
                  </div>
                </p>
              </div>

              <a href="/stanze/<%= appartList[indexAppart]._id %>" class="btn btn-primary mt-3">STANZE</a>

            </div> <!-- card-body -->
          </div> <!-- card -->
        </div> <!-- col-lg-4-->
      </div> <!-- row -->

      <!-- #### END MAP and SERVICES ### -->


      <div class="container-fluid ">
        <div class="row">
          <h5 class="text-primary"> Descrizione </h5>
          <div class=" col-lg-12 border">
            <!-- d-flex -->
            <div class="card flex-fill border shadow mx-n3">
              <div class="card-body">
                <p class="card-text">
                  <%= appartList[indexAppart].description %>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- row description -->
      </div> <!-- container descr annuncio-->

    </div> <!-- container to create background for each apaprt -->
    <% } %>
    <!-- main for -->

  </div>
</div>
  


     


    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 text-center">
             
            <h2 class="section-title mb-3">Tieniti in Contatto</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 mb-4">

            

            <form action="/api-insert-info" novalidate needs-validation method="POST" class=" p-4 bg-white" id="contatti">
              
              <!-- <h2 class="h4 text-black mb-5">Contact Form</h2>  -->

              <div class="row form-group">
                <div class="col-md-12 ">
                  <!-- mb-3 mb-md-0 -->
                  <label class="text-black" for="fname">Nome</label>
                  <input type="text" id="name" class="form-control rounded-0" name="name" required>
                  <div class="invalid-feedback">
                    campo nome obbligatorio
                  </div>
                </div>
              </div>
              
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" id="email" class="form-control rounded-0" name="email" required>
                  <div class="invalid-feedback">
                    formato email non valido
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="msg">Messaggio</label> 
                  <textarea name="msg" id="msg" cols="30" rows="7" class="form-control rounded-0" placeholder="Scrivi qui le tue domande o commenti..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Invia Messaggio" class="btn btn-black rounded-0 py-3 px-4">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div> <!--container of section -->
    </div> <!-- section form -->

  
    <footer class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">
                <h2 class="footer-heading mb-2">About Us</h2>
                <p>BiGi Stanza s.r.l. unipersonale. via Torquato Tasso, 50 - 24121 Bergamo.Tel +39 3889883460.
                  Capitale sociale euro 10.000,00 i.v. - Impresa iscritta al Registro Imprese di Bergamo n. REA
                  452279 –   Codice fiscale e P.IVA 04301720167 
                </p>
                
              </div>
              <!-- <div class="col-md-2">
                <h2 class="footer-heading mb-2">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                </ul>
              </div> -->
              <div class="col-md-3">
                <h2 class="footer-heading mb-2">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>

        </div>
        <div class="row pt-2 mt-3 text-center">
          <div class="col-md-12">
            <div class="border-top pt-2">
            <p  class="small">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script> 
  <script src="js/jquery.easing.1.3.js"></script>  <!-- animation effect -->
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  
  <script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWbQcqeMjibE9fuCHj7eUSLki9Ukbo34M&callback=initMap" ></script>  
  <script src="./mapGenerator.js"></script>
  <script src="js/main.js"></script>
  <script src="./homeSendMsg.js"></script>
    
  </body>
</html>
