<!-- jumbotron -->
<div class="jumbotron d-none d-sm-block" id="jumbo1"> <!-- not visible in xs -->
    <p class="display-2 text-center text-responsive">BiGi Stanza</p>
    <hr class="my-2">
    <p class="lead display-4 text-center text-responsive">Fell At Home When You're Away</p>
</div>