<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BiGi Stanza </title>
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css"> -->

    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
    
    <link rel="stylesheet" href="../css/jquery-ui.css">
     
    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/customStyle.css">
    


</head>

<script src="../stanzeSendMsg.js"></script>

<body   data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-id=<%=appart._id%>  >     
  <!-- navigation bar --> 
  <div class="site-wrap">
  <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
     
      <div class="top-bar py-3 bg-light d-none d-md-block  " id="home-section">
        <div class="container">
          <div class="row align-items-center">
           
            <div class="col-6 text-left">
              <ul class="social-media">
                <li><a href="#" class=""><span class="icon-facebook"></span></a></li>
                <li><a href="#" class=""><span class="icon-twitter"></span></a></li>
                <li><a href="#" class=""><span class="icon-instagram"></span></a></li>
                <li><a href="#" class=""><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
            <div class="col-6">
              <p class="mb-0 float-right">
                <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black"> +39 3889883460</span></a></span>
                <span><a href="#"><span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black"> info@bigistanza.com </span></a></span>
              </p>
              
            </div>
          </div>
        </div> 
      </div>
  
      <header class="site-navbar py-3 bg-white js-sticky-header site-navbar-target" data-offset="" role="banner">
  
        <div class="container ">
          <div class="row align-items-center  ">
            
            <div class="col-6 col-xl-2">
              <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">BiGiSTANZA <span class="text-primary"></span> </a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
  
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li><a href="/" class="nav-link">Home</a></li>
                  <li><a href="/#products-section" class="nav-link">Appartamenti</a></li>
                  
                  <!-- <li><a href="#special-section" class="nav-link">Special</a></li> -->
                  <!-- <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li> -->
                  <!-- <li><a href="#blog-section" class="nav-link">Blog</a></li> -->
                  <li><a href="#contact-section" class="nav-link">Contatti</a></li>
                </ul>
              </nav>
            </div>
  
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>
        
      </header>   


  <!-- end navigation bar-->


<!-- main container -->

    <div class="container-fluid" id="appartamenti">
        <div class="row mt-5 pt-5">
            <div class="offset-md-1"></div>
            <div class="col-lg-10 d-flex bg-light">
                <h3 class="text-primary text-center mt-5">Appartamento <%=appart.address%>, <%=appart.city%> </h3>
            </div>
        </div>

        <div class="row ">
            <div class="offset-md-1"></div>
            <div class="col-lg-10 d-flex bg-light flex-fill">
                <ul class="list-group list-group-horizontal-md mb-3 ">
                    <li class="list-group-item text-primary">Dimensioni: <%=appart.appartSize%>mq</li>
                    <li class="list-group-item text-primary">Stanze: <%=appart.numRooms%></li>
                    <li class="list-group-item text-primary">Piano: <%=appart.floor%></li>
                    <li class="list-group-item text-primary">Bagni: <%=appart.numBathRooms%></li>
                    <li class="list-group-item text-primary">Coinquilini: <%=occupanti%> </li>
                </ul>
              </div>
        </div>

        <!-- <i class="fas fa-male"></i> 2 <i class="fas fa-female"></i> -->
            
 
    
        <% for (roomIndex in appart.rooms) {  %>
        <!-- start list of rooms -->
      
        <div class="row mb-3 "> <!--no-gutters-->
            
            <div class="offset-md-1"></div>
            <div class="col-lg-6 d-flex bg-light">
                
                <div id="carouselIndicator<%= roomIndex %>" class="carousel slide border  shadow flex-fill">
                    <ol class="carousel-indicators">
                        <% for (indexImgRoom in appart.rooms[roomIndex].img) { %>
                        <li data-target="#carouselIndicator<%= indexImgRoom %>" data-slide-to="<%= indexImgRoom %>"></li>
                        <% } %>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <% for (indexImgRoom in appart.rooms[roomIndex].img){ %>
                      
                          <div class="carousel-item <%=(indexImgRoom==0) ? "active" : "" %> ">
                              <div class="img">
                                  <img class="d-block img-fluid <%= (appart.rooms[roomIndex].contracts.length == 1) ? "notavailable" : ""  %>  "
                                      src="../img/<%= appart.rooms[roomIndex].img[indexImgRoom] %>">
                              </div>
                          </div>

                        <% } %>
                        <!-- for img appart -->
                    </div> <!-- carousel-inner -->
                    <a class="carousel-control-prev" href="#carouselIndicator<%= roomIndex %>" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicator<%= roomIndex %>" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> <!-- carousel -->
            </div>  <!--col-lg-8-->
           
           
            <div class="col-lg-4 d-flex bg-light ">
                <!-- d-flex -->
                <div class="card  border shadow flex-fill">
                    <!--flex-fill-->
                    <div class="card-header text-center">
                        <% if ( appart.rooms[roomIndex].contracts.length  ) { %>
                        <span class="text-center"><strong>Occupata</strong></span>
                        <% }  else { %>
                            <span class="text-center"> prezzo: <strong><%=appart.rooms[roomIndex].price%> Euro/Mese </strong> </span>
                        <% } %>
                        
                        
                    </div>
                    <div class="card-body d-flex flex-column">
    
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">misura: <%=appart.rooms[roomIndex].size%> mq</li>
                            <li class="list-group-item">  
                                    <% if ( appart.rooms[roomIndex].contracts.length  ) { %>
                                     libera dal: <%= appart.rooms[roomIndex].contracts[0].outDate.substr(0,10) %>
                                     
                                        <span>    </span> <!--  --> 
                                        <%  }  else {  %>
                                        <span class="font-weight-bold"> <mark> Libera  </mark>    </span>   
                                        <%    }  %>
                            </li>
                            <li class="list-group-item">indirizzo: <%= appart.address %></li>
                            <li class="list-group-item">accesso: <%= appart.rooms[roomIndex].extAccess %></li>
                            <% if ( appart.rooms[roomIndex].contracts.length  ) { %>
                            <li class="list-group-item"> occupata:  <%= appart.rooms[roomIndex].contracts[0].holderJob %>  
                                <img class="px-2" src="../../img/icon/<%=appart.rooms[roomIndex].contracts[0].sex%>.png" alt="">  <script>document.write(getAge("<%= appart.rooms[roomIndex].contracts[0].holderDoB%>".substr(0,10)));</script> anni</li>
                            <%    }  %>
                            <!-- <img src="http://icons.iconarchive.com/icons/semlabs/web-blog/24/user-male-white-blue-brown-icon.png" alt=""></i>  -->
                        </ul>
                        <a href="#contatti" class="btn btn-info  mt-auto">INFO</a> <!-- mt-3 -->
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-lg-4-->
        <!-- </div> container internal -->
     
    </div>  <!-- row -->
        <% } %>   <!-- main for -->
       
     
    </div> <!--   rooms list container -->

    <section id="contact-section">
    <h3 class="text-center  my-5">Tieniti in Contatto</h3>
    <div class="container-fluid mb-3" id="contact">
        <div class="row">
            <div class="col-3 d-none d-md-block"></div>
    
            <div class="col-12 col-md-6 col-sm-offset-3">
    
                <form class="border p-5" action="/api-insert-info" method="POST" id="contatti" autocomplete="on"  novalidate needs-validation>
                    <div class="container">
                        <div class="form-group">
                            <label for="nome">Nome *</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" id="nome" name="name" placeholder="nome" required>
                                <div class="invalid-feedback">
                                        campo nome obbligatorio
                                </div>
                            </div>
                        </div>
                   
                <div class="form-group">
                    <label for="email">Email *</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-at"></i></span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                        <div class="invalid-feedback">
                                formato email non valido
                        </div>
                    </div>
                </div>    
                
                <div class="input-group inline ">
                    <div class="form-group  flex-fill">
                        <label for="numeroTel">Numero Tel.</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="numeroTel" name="numeroTel" placeholder="telefono">
                        </div>
                    </div>
                    <div class="form-group  flex-fill">
                        <label for="attività">Attività</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-work"></i></span>
                            </div>
                            <input type="text" class="form-control" id="attivita" name="attivita" placeholder="attività">
                        </div>
                    </div>
                </div>
                <!--input-group inline -->
                
                <div class="input-group inline ">
                    <div class="form-group flex-fill">
                        <label for="entrata">Entrata</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                            </div>
                            <input type="date" class="form-control" id="entrata" name="entrata">
                        </div>
                    </div>
                    <div class="form-group flex-fill">
                            <label for="uscita">Uscita</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                </div> 
                                <input type="date" class="form-control" id="uscita" name="uscita">
                                
                            </div>
                    </div>
                </div>
                    <!--input-group inline -->
                <div class="form-group">
                    <label for="msg">Messaggio</label>
                    <textarea name="msg" class="form-control" id="msg" name="msg" rows="4" placeholder="scrivi qui le tue domande..." required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn  btn-primary btn-lg px-5" type="submit" >INVIA</button>
                </div>
                <small class="text-muted">(*) campi obbligatori</small>
            </div> <!--container form-->
            </form>
            </div>
        </div> <!-- row -->
    </div>  <!-- container fluid contact -->
</section>

<footer class="site-footer bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-9">
              <h2 class="footer-heading mb-2">About Us</h2>
              <p>BiGi Stanza s.r.l. unipersonale. via Torquato Tasso, 50 - 24121 Bergamo.Tel +39 3889883460.
                Capitale sociale euro 10.000,00 i.v. - Impresa iscritta al Registro Imprese di Bergamo n. REA
                452279 –   Codice fiscale e P.IVA 04301720167 
              </p>
              
            </div>
            <!-- <div class="col-md-2">
              <h2 class="footer-heading mb-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
              </ul>
            </div> -->
            <div class="col-md-3">
              <h2 class="footer-heading mb-2">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

      </div>
      <div class="row pt-5 mt-3 text-center">
        <div class="col-md-12">
          <div class="border-top pt-3">
          <p  class="small">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
          </div>
        </div>
        
      </div>
    </div>
  </footer>

</div> <!-- .site-wrap -->
    <!-- footer -->
   



    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.countdown.min.js"></script>
    <script src="../js/bootstrap-datepicker.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/jquery.sticky.js"></script>
    <script src="../js/main.js"></script>
   


     
 
</body>
</html>