body {
	background-color: white
}

.text-responsive {
	font-size: calc(100% + 1vw + 1vh);
}

.jumbotron {
	background-image:  linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../img/bg/imgBg7.jpg);
	background-size: cover;
	padding-top: 20%;
	padding-bottom: 20%;
	width: auto;
 	/*background-color: lightgray;*/
}

.annuncio{
	background-color: white;

}
.card-deck {
	margin-left: 10%;
	margin-right: 10%;
}


p.lead{
	
	margin-left: 10%;
	margin-right: 10%;
}

#contatti h6{
	font-weight: bold;
}

#jumbo1{
     color: rgb(25,50,91);;
	/*margin-top:20px;*/
}


.img-fluid {
    max-width: 100%;
    height: auto;
}
.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

.nav-pills .pill-1 .nav-link:not(.active){
	background-color:transparent;
	color:white
}

.nav-pills .pill-1 .nav-link{
    background-color: rgb(25,50,91);
    color: white;
}


.icon {
	width: 2em;
	height: 2em;
  }