body {
	 background-color: white 
	/*background-color: rgb(175, 125, 125)  !important*/
}

.text-responsive {
	font-size: calc(100% + 1vw + 1vh);
}

.jumbotron {
	background-image:  linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../img/bg/imgBg7.jpg);
	background-size: cover;
	padding-top: 20%;
	padding-bottom: 20%;
	width: auto;
 	/*background-color: lightgray;*/
}


.annuncio{
	background-color: white;

}
/* 
.select2-container .select2-selection--single {
   
	width: 100% !important;
   
}  */
.select2 {
   
	width: 100% !important;
}

.select2-selection { overflow: hidden; }
.select2-selection__rendered { white-space: normal; word-break: break-all; }

p.lead{
	
	margin-left: 10%;
	margin-right: 10%;
}

#contatti h6{
	font-weight: bold;
}

#jumbo1{
     color: #19325b;;
	/*margin-top:20px;*/
}


.img-fluid {
    max-width: 100%;
    height: auto;  
}
.carousel-item .img-fluid {
  width:100%;
  height:100%; /*  100hv */
}

.nav-pills .pill-1 .nav-link:not(.active){
	background-color:transparent;
	color:white
}



.nav-pills .pill-1 .nav-link{
    background-color: rgb(25,50,91);
    color: white;
}


.icon {
	width: 1.5em;
	height: 1.5em;
  }
  
#map-container {
	height:100%; 
}


